*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px
    ;
}

#box{
    background: rgb(10, 200,10);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

body button{
    background: red;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    border: white solid 1px;
    cursor: pointer;

    
}

button:active{
    scale: 0.95;
}

h1{
    color: white;
    
}

h3{
    font-size: 15px;
}